.about-div {
  padding-block: min(6vh, 4rem);
  background-color: var(--palette-2);
}

@media (max-width: 800px) {
  .about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-div p {
    font-size: 2rem;
  }
}
