.contact-div {
  padding-top: 0;
  height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-anchor-container {
  display: flex;
  gap: 6rem;
  justify-content: center;

  font-size: 4rem;
}

.contact-anchor-container a {
  color: white;
  align-items: center;
}

.anchor:hover {
  color: var(--palette-3);
}

@media (max-width: 800px) {
  .contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
