.hero-div {
  padding-top: min(30vh);
  padding-bottom: min(20vh);

  height: 65vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.hero-div-text-container {
  width: 100%;

  display: flex;
  justify-content: left;
}

.typed-cursor {
  color: blue;
  font-style: italic;
  font-size: 4rem;
}

.hero-anchor {
  padding: 2rem;
  border-radius: 15px;
  background-color: lightblue;

  overflow-x: hidden;
}

.hero-anchor:active {
  background-color: rgb(46, 85, 138);
  overflow-x: hidden;
}

.hero-div-button-container {
  margin: 4rem;

  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .hero-div {
    padding-top: min(20vh);
  }

  .hero-anchor {
    padding: 1.5rem;
    font-size: 1.8rem;
  }
}
