.project-div {
  background-color: rgb(71, 64, 105);
}

.project-div h1 {
  margin-top: 0;
}

.project-div-container {
  display: grid;
  grid: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 2rem;
}

.projectblock {
  padding: 1rem;

  border-radius: 10px;
  background-color: darkgray;

  font-size: 1.6rem;

  overflow-x: hidden;
}

.projectblock h2 {
  color: purple;
  font-size: 2.4rem;
}

@media (max-width: 800px) {
  .project-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-div-container {
    display: grid;
    grid: 1fr / 1fr;
    gap: 2rem;
  }
}
