.skills-div-skillblock-container {
  display: grid;
  grid: 1fr / repeat(3, 1fr);
  gap: 6rem;
}

.skillblock-div {
  padding: 0 2rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;

  background-color: rgb(101, 101, 134);
  border-radius: 16px;

  overflow-x: hidden;
}

.skillblock-div:hover {
  outline: solid purple 4px;
}

.skillblock-div h2 {
  align-self: center;
}

.skillelement-div {
  display: grid;
  grid: 1fr / 1fr 1fr;

  justify-items: end;
}

.skillelement-div p {
  justify-self: flex-start;
}

.skillelement-div svg {
  width: 36px;
  height: 36px;
}

@media (max-width: 800px) {
  .skills-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-div-skillblock-container {
    display: grid;
    grid: 1fr / 1fr;
    gap: 4rem;
  }
}
